@import url(https://fonts.googleapis.com/css?family=Oleo+Script);

html {
    box-sizing: border-box;
  }
  
*, *::before, *::after {
box-sizing: inherit;
margin: 0;
padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #0C0032; 
}
h1 {
    font-size: 4.5rem;
    font-weight: 800;
}

p {
    font-size: 1.5rem;
    margin-bottom: 5%;
}

main {
    margin-left: 8.5vw;
    margin-right: 8.5vw;
    margin-top: 40vh;
    margin-bottom: 10vh;

}

nav {
    overflow: hidden;
    background-color: #ffffff;
    position: fixed; 
    top: 0; 
    z-index: 1;
    width: 100%; 
    height: 21vh;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    display: inline-block;
    font-size: 4.5rem;
    font-family: 'Oleo Script', cursive;
    font-weight: 700;
    color: #0C0032;
    margin-top: 1rem;
}
#logo img {
    vertical-align: middle;
}
.nav-links {
    display: flex;
}
.nav-item a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.9rem;
    font-weight: 700;
    color: #3500D4;
    display: inline-block;
}

.nav-line {
    height: 1.8em;
    background-color: #3500D4;
    border-radius: 12px;
    margin-left: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

#flex-container-header {  
    grid-column: header;
    padding-top: 3rem;
    display: flex; 
    flex-wrap: wrap; 
}

#my-picture {
    width: 25%;
    height: 25%;
    margin-right: 5rem;
}
#picture-container {
    position: relative;
}
.item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: inset(0% 0% 0% 0% round 12px);
}
.item1 {
    grid-area: item1;
}
.item2 {
    grid-area: item2;
}
.item3 {

    grid-area: item3;
}
.item4 {
    grid-area: item4;
}


li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}
@media screen and (max-width: 700px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr repeat(5, minmax(100px,35vh));
        grid-gap: 2% 6%;
        grid-template-areas:
        "header"
        "item1"
        "item2"
        "item3"
        "item4"
        "footer"
    
    }
    .nav-item a {
        font-size: 1rem;
    }
    #my-picture {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 50%;
        margin-bottom: 3rem;
    }
    h1 {
        font-size: 3rem;
        margin-bottom: 3rem;
        text-align: center;
    }
    p {
        text-align: center;
        font-size: rem;
    }
    main {
        margin-top: 20vh;
    }

}

@media screen and (min-width: 700px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1.2fr 1.2fr 0.5fr;
        grid-gap: 6% 6%;
        grid-template-areas:
        "header header"
        "item1 item2"
        "item3 item4"
        "footer footer"
    }
}
