@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
h1 {
    font-size: 4.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #0C0032; 
}

p {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    color: #0C0032; 
}

main {
    margin-left: 7.5em;
    margin-right: 7.5em;
    margin-top: 3.75em;
    margin-bottom: 3.75em;

}

nav {
    overflow: hidden;
    background-color: #fff111;
    position: fixed; 
    top: 0; 
    width: 100%; 
}

nav a {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #3500D4;
    text-decoration: none;
}

.flex-container {  
    display: flex;  
}
#logo {
    font-size: 4.5em;
    font-family: 'Oleo Script', cursive;
    font-weight: 700;
    color: #0C0032;
    justify-content: flex-start;
}