h1 {
    font-size: 4.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #0C0032; 
}

p {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    color: #0C0032; 
}

body {
    margin-left: 7.5em;
    margin-right: 7.5em;
    margin-top: 3.75em;
    margin-bottom: 3.75em;

}